<div class="row-fluid"><!-- BEGIN PAGE HEADER-->
	<div class="span12">
		<h3 class='page-title'>
			<small>您填写或者选择关于测评单位的一些基本信息，然后就可以创建一个测评单位，单位可以是学校或者机关单位</small>
		</h3>
		<ul class="breadcrumb"><!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <li>
                  <a href="#">民主评价系统</a>
               </li>
               <li>
                   <a href="#">测评单位管理</a>
               </li>
               <li>
                   <a href="#">新增测评单位</a>
               </li>
        </ul><!-- END PAGE TITLE & BREADCRUMB-->
    </div><!-- END span12-->
</div><!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i> 新增测评单位
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class='post-data-form' action='{{ path('evaluation_evaluate_school_check_create')}}' >
					<div class="form-body">
						<div class="form-group">
							<label for="exampleInputEmail1">单位名称</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" name='name' class="form-control" placeholder="请单位测评的名称，长度不要超过20个字">
							</div>
						</div>
						<div class="form-group">
							<label>测评单位的相关描述</label>
							<textarea class="form-control" name='description' rows="3" placeholder="请单位测评的相关描述，长度不要超过100个字" ></textarea>
							<span class="help-block">描述将显示在民主评价的参与界面</span>
						</div>
					</div>
					<div class="form-actions text-center">
							<button type="button" class="btn blue form-submit-button">提交</button>
							<button type="reset"  class="btn default">重置</button>
					</div>
				</form>
			</div>
		</div><!-- END SAMPLE FORM PORTLET-->
	</div><!-- col-md-12 end -->
</div><!-- row end -->
<!-- END PAGE CONTENT-->