<div class="row-fluid"><!-- BEGIN PAGE HEADER-->
	<div class="span12">
		<h3 class='page-title'>
			<small>您填写或者选择关于测评对象的一些基本信息，然后就可以创建一个测评对象</small>
		</h3>
		<ul class="breadcrumb"><!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <li>
                  <a href="#">民主评价系统</a>
               </li>
               <li>
                   <a href="#">测评对象管理</a>
               </li>
               <li>
                   <a href="#">新增测评对象</a>
               </li>
        </ul><!-- END PAGE TITLE & BREADCRUMB-->
    </div><!-- END span12-->
</div><!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>新增测评对象
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form">
					<div class="form-body">
						<div class="form-group">
							<label>评价单位</label>
							<select class="form-control">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								<option>Option 4</option>
								<option>Option 5</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">真实姓名</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" name='realname' class="form-control" placeholder="请填写测评对象的姓名，长度不要超过10个汉字">
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">所任职务</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" name='position' class="form-control" placeholder="请填写测评对象的职位，长度不要超过10个字">
							</div>
						</div>
						
					</div>
					<div class="form-actions text-center">
							<button type="button" class="btn blue">提交</button>
							<button type="reset"  class="btn default">重置</button>
					</div>
				</form>
			</div>
		</div><!-- END SAMPLE FORM PORTLET-->
	</div><!-- col-md-12 end -->
</div><!-- row end -->
<!-- END PAGE CONTENT-->