<div class="row-fluid"><!-- BEGIN PAGE HEADER-->
	<div class="span12">
		<h3 class='page-title'>
			<small>您填写或者选择关于系统管理员的一些基本信息，然后就可以创建一位系统管理员</small>
		</h3>
		<ul class="breadcrumb"><!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <li>
                  <a href="#">民主评价系统</a>
               </li>
               <li>
                   <a href="#">用户管理</a>
               </li>
               <li>
                   <a href="#">新增管理员</a>
               </li>
        </ul><!-- END PAGE TITLE & BREADCRUMB-->
    </div><!-- END span12-->
</div><!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>新增管理员
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form">
					<div class="form-body">
						<div class="form-group">
							<label for="exampleInputEmail1">登陆账号</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" class="form-control" placeholder="请填写管理员的登陆账号，只能由英文字母和阿拉伯数字组成，长度不超过10个字符">
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">登陆密码</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" class="form-control" placeholder="请填写登陆密码，只能由英文字母和阿拉伯数字组成，长度不超过20个字符">
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">确认密码</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" class="form-control" placeholder="请确认登陆密码，保证两次密码输入一致">
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">真实姓名</label>
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-envelope"></i>
								</span>
								<input type="text" class="form-control" placeholder="请填写管理员的真实姓名">
							</div>
						</div>
					</div>
					<div class="form-actions text-center">
							<button type="submit" class="btn blue">提交</button>
							<button type="reset"  class="btn default">重置</button>
					</div>
				</form>
			</div>
		</div><!-- END SAMPLE FORM PORTLET-->
	</div><!-- col-md-12 end -->
</div><!-- row end -->
<!-- END PAGE CONTENT-->