<!-- BEGIN SIDEBAR MENU1 -->
<ul class="page-sidebar-menu" data-slide-speed="200" data-auto-scroll="true">
	<li>
		<a href="javascript:;">&nbsp;</a>
	</li>
	<li class="start">
		<a href="javascript:;">
			<i class="fa fa-cogs"></i>
			<span class="title">控制面板</span>
			<span class="selected"></span>
			<span class="arrow open"></span>
		</a>
		<ul class="sub-menu">
			<li>
				<a class="ajaxify start" href="{{ path('evaluation_evaluate_join')}}">参与评价</a>
			</li>
			<li>
				<a href="{{ path('evaluation_web_logout')}}">退出登陆</a>
			</li>
		</ul>
	</li>
</ul>
<!-- END SIDEBAR MENU1 -->
